<footer>
    <p>SavanDev - 2016 / {{ site.time | date: '%Y' }}</p>
    <ol>
        {% if site.github %}
            <li><a href="https://github.com/{{ site.github }}" target="_blank">{% fa_svg fab.fa-github %}GitHub</a></li>
        {% endif %}
        {% if site.twitter %}
            <li><a href="https://twitter.com/{{ site.twitter:username }}" target="_blank">{% fa_svg fab.fa-twitter %} Twitter</a></li>
        {% endif %}
        {% if site.instagram %}
            <li><a href="https://instagram.com/{{ site.instagram }}" target="_blank">{% fa_svg fab.fa-instagram %} Instagram</a></li>
        {% endif %}
    </ol>
</footer>
<script src="{{ "/assets/js/cleanify.js" | relative_url }}"></script>
{% fa_svg_generate %}
<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
  kofiWidgetOverlay.draw('savandev', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Support Me',
    'floating-chat.donateButton.background-color': '#00b9fe',
    'floating-chat.donateButton.text-color': '#fff'
  });
</script>