---
---
@import "post";
@import "exclusive";

@font-face {
    font-family: TechnaSans;
    src: url({{ "assets/fonts/TechnaSans-Regular.otf" | relative_url }});
}

b {
    font-family: TechnaSans, "Roboto", "Open Sans", sans-serif;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: TechnaSans, "Roboto", "Open Sans", sans-serif;
    font-weight: normal;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: -4px .5rem 0 0;
}

a:hover {
    fill: white;
}

header {
    img {
        width: auto;
        padding: 0 1.5rem;
    }

    @media screen and (min-width: 1000px) {
        padding: 2rem 0;
    }
}

#lastProjects {
    max-width: 500px;
    margin: auto;
    border-radius: 1rem;
}

#logo {
    max-width: 720px;
}

#lateralInfo {
    max-width: 500px;
    margin: auto;
}

.grid-apps {
    display: inline;

    a {
        margin: .5rem;
    }

    img {
        height: 128px;
        transition: transform .2s;

        &:hover {
            transform: scale(1.25);
        }
    }
}

.drawings-title {
    background-color: var(--color-dark);
    padding: .5rem 1rem .1rem .5rem;
    border-radius: 1rem;

    > img
    {
        width: 48px;
        margin-bottom: .5rem;
        vertical-align: middle;
    }
}

@mixin grid-drawings($gradient1, $gradient2, $imgWidth, $imgHeight) {
    display: block;
    text-align: center;

    > a {
        display: inline-block;
        position: relative;
        border-radius: 1rem;
        background-image: linear-gradient(0deg, $gradient1 0%, $gradient2 100%);
        margin: .25rem;
        overflow: hidden;

        max-width: $imgWidth;
        max-height: $imgHeight;

        transition: transform .2s;

        &:hover {
            transform: scale(1.5);
            z-index: 1;
        }

        img {
            height: $imgHeight;
            opacity: .75;
            transition: all .2s;
    
            &:hover {
                opacity: 1.0;
                
            }
        }
    }
}

.drawings-instagram {
    @include grid-drawings(#FCAF45, #FD1D1D, 128px, 128px);
}

.drawings-newgrounds {
    @include grid-drawings(#EB7522, #4F280E, 128px, 256px);
}

.drawings-twitter {
    @include grid-drawings(rgb(0, 0, 100), rgb(0, 255, 255), 128px, 128px);
}

.appsList {
    img {
        height: 32px;
        margin-right: 1rem;
        vertical-align: middle;
    }

    .appPlatform {
        float: right;
        padding: .5rem;

        svg:last-child {
            margin-right: 0;
        }
    }
}

.tiny {
    max-width: 180px;
}

/* Temporal fix */
.alert-primary {
    a {
        color: var(--color-light) !important;
        &:hover {
            color: var(--color-lightgray) !important;
        }
    }
}