<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">

{%- include head.html -%}

<body dark="1">
    {%- include navbar.html -%}
    <article>
        <section class="transparent">
            <a href="https://www.instagram.com/savan_7870/"><h3 class="drawings-title"><img src="{{ "assets/img/instagram.svg" | relative_url }}" /> Instagram</h3></a>
            <div class="drawings-instagram">
                {%- for picture in site.data.drawings -%}
                    {%- if picture.type == "Instagram" -%}
                    <a href="{{ picture.link }}" target="_blank">
                        <img src="{{ picture.url | relative_url }}" alt="{{ picture.name }}" title="{{ picture.name }}">
                    </a>
                    {%- endif -%}
                {%- endfor -%}
            </div>
            <a href="https://savandev.newgrounds.com/"><h3 class="drawings-title"><img src="{{ "assets/img/ng_tank.png" | relative_url }}" /> Newgrounds</h3></a>
            <div class="drawings-newgrounds">
                {%- for picture in site.data.drawings -%}
                    {%- if picture.type == "Newgrounds" -%}
                    <a href="{{ picture.link }}" target="_blank">
                        <img src="{{ picture.url | relative_url }}" alt="{{ picture.name }}" title="{{ picture.name }}">
                    </a>
                    {%- endif -%}
                {%- endfor -%}
            </div>
            <a href="https://twitter.com/dylnavas36"><h3 class="drawings-title"><img src="{{ "assets/img/twitter.png" | relative_url }}" /> Twitter</h3></a>
            <div class="drawings-twitter">
                {%- for picture in site.data.drawings -%}
                    {%- if picture.type == "Twitter" -%}
                    <a href="{{ picture.link }}" target="_blank">
                        <img src="{{ picture.url | relative_url }}" alt="{{ picture.name }}" title="{{ picture.name }}">
                    </a>
                    {%- endif -%}
                {%- endfor -%}
            </div>
        </section>
    </article>
    {%- include footer.html -%}
</body>
</html>